  <section>
    <div class="form-section">
      <div class="form-wrapper">
        <h1>Sign Up.</h1>
        <p>Already have an account? <a>Sign In</a></p>
        <form>
  <div class="inputBox">
    <label>
      Username
      <div class="input-icon-wrapper">
        <input type="text" placeholder="Enter your username" required />
        <i class="fa fa-user"></i>
      </div>
    </label>
  </div>
  <div class="inputBox">
    <label>
      E-Mail
      <div class="input-icon-wrapper">
        <input type="email" placeholder="Enter your email" required />
        <i class="fa fa-envelope"></i>
      </div>
    </label>
  </div>
  <div class="inputBox">
    <label>
      Password
      <div class="input-icon-wrapper">
        <input type="password" placeholder="Enter your password" required />
        <i class="fa fa-lock"></i>
      </div>
    </label>
  </div>
  <button type="submit" class="signup-btn">Sign Up</button>
        </form>

        
        <div class="divider"><span>or</span></div>
        <!-- Google Button -->
        <button class="google-btn">
          <img src="https://img.icons8.com/color/16/000000/google-logo.png" alt="google icon"/>
          Sign up with Google
        </button>
      </div>
    </div>

    <div class="image-section">
      <img src="/image/personalTaskManager.png" alt="signup illustration" />
    </div>
  </section>