<div class="profile-container">
  <h3 class="section-title"><span class="bullet"></span> Profile</h3>

  <div class="profile-card">
    <!-- الصورة الشخصية -->
    <div class="left-side">
      <div class="avatar">
        <img src="https://via.placeholder.com/150" alt="Profile Picture">
      </div>

    </div>

    <!-- بيانات المستخدم -->
    <div class="right-side">
      <p><strong>Name:</strong> User name</p>
      <p><strong>Email:</strong> mixpaytech.co</p>
      <p><strong>Phone Number:</strong> +20-01274318900</p>
      <p><strong>Address:</strong> 285 N Broad St, Elizabeth, NJ 07208, USA</p>

      <!-- زر تعديل البيانات -->
      <div class="edit-button">
        <button class="edit-profile-btn" routerLink="/setting">
          EDIT PROFILE
        </button>
      </div>
    </div>
  </div>
</div>

