<div class="navigation">
    <ul>
        <!-- اسم الجزء الأعلى -->
        <li class="label">
            <a href="#">
                <span class="icon"><i class="fas fa-bars"></i></span>
                <span class="title">Menu</span>
            </a>
        </li>

        <!-- باقي اللينكات -->
           <li>
            <a href="#">
                <span class="icon"><i class="fas fa-tasks"></i></span>
                <span class="title">All Tasks</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon"><i class="fas fa-check-circle"></i></span>
                <span class="title">Completed</span>
            </a>
        </li>

        <li>
            <a href="#">
                <span class="icon"><i class="fas fa-spinner"></i></span>
                <span class="title">In Progress</span>
            </a>
        </li>

        <li>
            <a href="#">
                <span class="icon"><i class="fas fa-clock"></i></span>
                <span class="title">Postponed</span>
            </a>
        </li>

     

        <li>
            <a href="#">
                <span class="icon"><i class="fas fa-cog"></i></span>
                <span class="title">Setting</span>
            </a>
        </li>

        <li>
            <a href="#">
                <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                <span class="title">LogOut</span>
            </a>
        </li>
    </ul>

    <!-- All Tasks تكون تحت خالص -->
    <ul class="bottom-link">
        <li>
            <a href="#">
                 <span class="icon"><i class="fas fa-question-circle"></i></span>
                <span class="title">Help</span>
          
            </a>
        </li>
    </ul>
</div>
