<form class="modal fade-in modal-content" (ngSubmit)="submitTask()">
  <h2>Update Task</h2>

  <div class="form-row">
    <div class="form-group half">
      <label for="taskName"><i class="fas fa-tasks label-icon"></i>Task Name</label>
      <input id="taskName" type="text" name="name" [(ngModel)]="this.task.task_name"  />
    </div>

    <div class="form-group half">
      <label for="category"><i class="fas fa-list label-icon"></i>Category</label>
      <select id="category" name="category" [(ngModel)]="this.task.category" >
        <option value="">Select Category</option>
        <option value="Management">Management</option>
        <option value="Development">Development</option>
        <option value="Design">Design</option>
        <option value="Audit">Audit</option>
      </select>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group half">
      <label for="startDate"><i class="fas fa-play label-icon"></i>Start Date</label>
      <input id="startDate" type="date" name="startDate" [(ngModel)]="this.task.start_date"  />
    </div>

    <div class="form-group half">
      <label for="deadline"><i class="fas fa-hourglass-end label-icon"></i>Deadline</label>
      <input id="deadline" type="date" name="deadline" [(ngModel)]="this.task.deadline"  />
    </div>
  </div>

  <label for="description"><i class="fas fa-align-left label-icon"></i>Description</label>
  <textarea id="description" name="description" [(ngModel)]="this.task.description" ></textarea>

  <div class="form-row">
    <div class="form-group half">
      <label for="status"><i class="fas fa-toggle-on label-icon"></i>Status</label>
      <select id="status" name="status" [(ngModel)]="this.task.status">
        <option value="Pending">Pending</option>
        <option value="In Progress">In Progress</option>
        <option value="Completed">Completed</option>
      </select>
    </div>

    <div class="form-group half">
      <label for="fileUpload"><i class="fas fa-paperclip label-icon"></i>Attach File</label>
      <div class="custom-file-label-wrapper">
        <label class="custom-file-label">
          <i class="fas fa-upload"></i> Choose File
          <input id="fileUpload" type="file" (change)="onFileChange($event)" />
        </label>
      
      </div>
    </div>
  </div>

  <button type="submit" class="update-task-btn">Update Task</button>
</form>
