
  <div class="topbar">
    <div class="welcome">
      <h4>Welcome back, sandra</h4>
      <small>Apr 10, 2025</small>
    </div>

    <div class="search">
      <label>
        <input type="text" placeholder="Search anything">
        <i class="fas fa-search search-icon"></i>
      </label>
    </div>

    <div class="topbar-actions">
      <i class="fas fa-bell bell-icon"></i>

      <div class="user">
        <img src="/image/sandra.jpeg" alt="userphoto">
      </div>

      <button class="create-task-btn">
        <i class="fas fa-plus"></i> Create New Task
      </button>
    </div>
  </div>
