
  <div class="topbar">
    <div class="welcome">
      <h4>Welcome back, sandra</h4>
      <small>Apr 10, 2025</small>
    </div>

    <div class="search">
      <label>
        <input type="text" placeholder="Search anything">
        <i class="fas fa-search search-icon"></i>
      </label>
    </div>

    <div class="topbar-actions">
      <i class="fas fa-bell bell-icon"></i>

      <div class="user">
        <a routerLink="/profile"> <img src="/image/sandra.jpeg" alt="userphoto"></a>
       
      </div>

      <button class="create-task-btn" (click)="openModal()">
        <i class="fas fa-plus"></i> Create New Task
      </button>
    </div>
  </div>
 <!-- Modal Form -->
  <div class="modal" id="taskModal" *ngIf="isOpen">
    <form class="modal-content">
      <span class="close-btn" id="closeModal" (click)="closeModal()">&times;</span>
      <h2>Add New Task</h2>
  

      <label for="taskName"><i class="fas fa-tasks label-icon"></i> Task Name</label>
<input id="taskName" type="text" placeholder="Enter task name" [(ngModel)]="taskName" name="taskName" required>

<label for="startDate"><i class="fas fa-play label-icon"></i> Start Date</label>
<input id="startDate" type="date" [(ngModel)]="startDate" name="startDate" required>

<label for="deadline"><i class="fas fa-hourglass-end label-icon"></i> Deadline</label>
<input id="deadline" type="date" [(ngModel)]="deadline" name="deadline" required>

<label for="description"><i class="fas fa-align-left label-icon"></i> Description</label>
<textarea id="description" placeholder="Enter task description" [(ngModel)]="description" name="description" required></textarea>

<label for="fileUpload"><i class="fas fa-paperclip label-icon"></i> Attach File</label>
<input id="fileUpload" type="file" (change)="onFileChange($event)">

<label for="category"><i class="fas fa-list label-icon"></i> Category</label>
<select id="category" [(ngModel)]="category" name="category" required>
  <option value="">Select Category</option>
  <option value="Management">Management</option>
  <option value="Development">Development</option>
  <option value="Design">Design</option>
  <option value="Audit">Audit</option>
</select>

<!-- زر الحفظ -->
<button (click)="submitTask()" class="add-task-btn">Save Task</button>


    </form>
  </div>

   <div class="container" id="taskContainer">
    <!-- Tasks will appear here -->
  </div>