section {
  display: inline-block;
  background: #00AFF9 url(/image/notFound.png) center/cover no-repeat;
  height: 100vh;
  width: 100%;
  margin: 0;
  color: white;
}

h1 {
  margin: .8em 3rem;
  font: 4em Roboto;
}
p {
  display: inline-block;
  margin: .2em 3rem;
  font: 2em Roboto;
}
.nav-link {
  display: block; /* block يخليه ينزل تحت */
  color: white;
  background-color: transparent;
  text-decoration: none;
  padding: 10px 20px; /* زودنا padding أفقي */
  font-size: 1.1rem;
  transition: color 0.3s ease, background-color 0.3s ease;
  border: 1px solid white;
  border-radius: 999px; /* يخليه بيضاوي بالكامل */
  width: fit-content; /* ياخد حجم المحتوى فقط */
  margin: 50px; /* ينزل تحت بمسافة */
}



